
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@Html.AntiForgeryToken()
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="icon"
          href="~/img/kaiadmin/favicon.ico"
          type="image/x-icon" />
    @* <link rel="stylesheet" href="~/css/styles.min.css" /> *@

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins.min.css" />
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" />
   
</head>
<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">

                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="~/img/kaiadmin/logo_dark.png"
                                         style="object-fit: contain; width: 300px; max-width: 100%; max-height: 100%;">
                                </div>

                                <p class="text-center">Book Truck Systems</p>
                                <form id="loginForm" class="needs-validation" novalidate>
                                  
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Username</label>
                                        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" required>
                                        <div class="invalid-feedback">
                                            Please input username.
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input  type="password" class="form-control" id="password" required>
                                        <div class="invalid-feedback">
                                            Please input passwrod.
                                        </div>
                                    </div>
                                    <button type="button" id="btnLogin" class="btn btn-primary w-100">Sign In</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script>

        window.AppUrls = {
            loginUrl:'@Url.Action("Login", "Users")',
            getCustomersUrl: '@Url.Action("GetCustomers", "Customers")',
            baseUrl: '@Url.Content("~")'
        };

            $(document).ready(function () {
            console.log('test');
        });
    </script>
    <!-- Sweet Alert -->
    <script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/js/page/Login.js"></script>

</body>

    

@* @await RenderSectionAsync("Scripts", required: false) *@
</html>



