@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.AntiForgeryToken()
<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Customers</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Master</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Customers</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Customers Information</h4>
                    <button class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Add Customer
                    </button>
                </div>
            </div>
            <div class="row">
                <!-- Modal -->
                <div class="modal fade"
                     id="addRowModal"
                     tabindex="-1"
                     role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold"> New</span>
                                    <span class="fw-light"> Row </span>
                                </h5>
                                @*                                <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>*@
                            </div>
                            <div class="modal-body">
                                <p class="small">
                                    Create a new row using this form, make sure you
                                    fill them all
                                </p>
                                <form>
                                    <div class="row">
                                        <input id="rowid" hidden />
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Name</label>
                                                <input id="customer_name"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter Customer Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 pe-0">
                                            <div class="form-group form-group-default">
                                                <label>Customer ID</label>
                                                <input id="customer_id"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter Customer ID" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-default">
                                                <label>Company ID</label>
                                                <input id="company_id"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter Company ID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Address 1</label>
                                                <textarea class="form-control" id="address1" rows="1" placeholder="Enter Address 1"></textarea>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Address 2</label>
                                                <textarea class="form-control" id="address2" rows="1" placeholder="Enter Address 2"></textarea>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Address 3</label>
                                                <textarea class="form-control" id="address3" rows="1" placeholder="Enter Address 3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pe-0">
                                            <div class="form-group form-group-default">
                                                <label>city ID</label>
                                                <input id="customer_id"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter City" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-default">
                                                <label>Company ID</label>
                                                <input id="state"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter State" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pe-0">
                                            <div class="form-group form-group-default">
                                                <label>Company ID</label>
                                                <input id="country"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter Country" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-default">
                                                <label>Company ID</label>
                                                <input id="pastal_code"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter Pastal Code" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button"
                                        id="addRowButton"
                                        class="btn btn-primary">
                                    Add
                                </button>
                                <button type="button"
                                        class="btn btn-danger"
                                        data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End  Modal -->
                <div class="table-responsive">
                    <table id="basic-datatables"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Customer ID.</th>
                                <th>Company ID.</th>
                                <th>Customer Name.</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No.</th>
                                <th>Customer ID.</th>
                                <th>Company ID.</th>
                                <th>Customer Name.</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                          
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var getCustomers = getCustomers || {};
        getCustomers.Urls = getCustomers.Urls || {};
        getCustomers.Urls.baseUrl = '@Url.Content("~")';
        getCustomers.Urls.getCustomersUrl = '@Url.Action("GetCustomers", "Customers")';
    </script>
    <script src="~/js/notify.js"></script>
    <script src="~/js/page/customers.js"></script>
}